<mat-sidenav-container class="mat-sidenav-container">
  <mat-toolbar>
    <nav>
      <span class="logo">
        <h4>Humanitarian Crisis in Nigeria</h4>
      </span>
      <ul class="nav-links">
        <li>
          <a mat-button routerLink="/hpme">Home</a>
        </li>
        <li>
          <a mat-button routerLink="/about">About</a>
        </li>
        <li>
          <a mat-button routerLink="/humanitarianhelp">Humanitarian Help</a>
        </li>
        <li>
          <a mat-button routerLink="/contact">Contact</a>
        </li>
      </ul>
      <div (change)="(navSlide)" class="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
  </mat-toolbar>
</mat-sidenav-container>
