<mat-toolbar>
  <nav>
    <span class="logo">
      <h4>Humanitarian Crisis in Nigeria</h4>
    </span>
    <ul class="nav-links">
      <li>
        <a mat-button href="#">Home</a>
      </li>
      <li>
        <a mat-button href="#">About</a>
      </li>
      <li>
        <a mat-button href="#">Humanitarian Help</a>
      </li>
      <li>
        <a mat-button href="#">Contact</a>
      </li>
    </ul>
    <div (change)="(navSlide)" class="hamburger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</mat-toolbar>
