<mat-toolbar class="nav">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon class="burger">menu</mat-icon>
    </button>
  </div>
  <div class="logo">
    <h1>Humanitarian Crisis in Nigeria</h1>
  </div>
  <div class="nav-links" fxFlex fxLayoutAlign="end end" fxHide.xs>
    <a mat-button routerLink="/home">Home</a>

    <a mat-button routerLink="/about">About</a>

    <a mat-button routerLink="/humanitarianhelp">Humanitarian Help</a>

    <a mat-button routerLink="/contact">Contact</a>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
