<div class="container-2">
  <div class="container-2-box">
    <h2><a href="about.html">Shelter</a></h2>
    <p>
      The people in Nigeria have no shelter. No place to go or call home. They
      live in tents, which is not shelter at all. They all bunched up in tent
      villages.
    </p>
  </div>
  <div class="container-2-box">
    <h2><a href="about.html">No Clean drinking water</a></h2>
    <p>
      Nigerians do not have any clean drining water. Their water is dark brown
      and have bugs in it. The people get sick from drinking it.
    </p>
  </div>
  <div class="container-2-box">
    <h2><a href="about.html">Hunger</a></h2>
    <p>
      People in Nigeria are going hungry. They can't get any food. Kids are
      suffering from malnourishment.
    </p>
  </div>
  <div class="container-2-box">
    <h2><a href="about.html">Unable to get Medical Help</a></h2>
    <p>
      Since the people in Nigeria are drining unclean water, they get waterborne
      diseases. They can't get the medical help they need to get better. Leaving
      alot of the kids near dealth or dying.
    </p>
  </div>
</div>
