<div class="container-1">
  <div class="box-1">
    <h2>Hunger in Nigeria</h2>
    <p>
      Nigerian people are going hungry. So they suffer from malnourishment. Kids
      and adults have no drinking water. And the water is not clean if they
      manage to get a little.
    </p>
  </div>
  <div class="box-2">
    <img src="assets/images/nigeria-hunger.jpg" alt="Nigerian Boy" />
    <img
      src="assets/images/nigeria-hunger2.jpg"
      width="750px"
      height="562.5px"
      alt="Hungry Nigerian Woman"
    />
  </div>
</div>
