<mat-list>
  <a mat-list-item routerLink="/home" (click)="onSlidenavClose()">
    <mat-icon>Home</mat-icon><span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/about" (click)="onSlidenavClose()">
    <mat-icon>assignment_ind</mat-icon>
  </a>
  <a mat-list-item routerLink="/humanitarianhelp" (click)="onSlidenavClose()">
    <mat-icon>account_balance</mat-icon>
  </a>
  <a mat-list-item routerLink="/contact" (click)="onSlidenavClose()">
    <mat-icon>account_balance</mat-icon>
  </a>
</mat-list>

<router-outlet></router-outlet>
