<div class="container-1">
  <div class="photo">
    <img src="assets/images/nigeria-family.jpg" alt="Nigerian Family" />
  </div>
  <div class="summary">
    <h2>Summary</h2>
    <p>
      The Nigerian people are in a humanitarian crisis. A conflict between the
      government and the militant groups have caused millions of people to live
      as as refugees without access to vital resources such as adequate shelter,
      clean drinking water, food, and medical care. These people are now
      stricken with illness and malnurishment and have no place to go.
    </p>
  </div>
</div>

<!-- <div class="container-1">
  <div class="box-1">
    <h2>Summary</h2>
    <p>
      The Nigerian people are in a humanitarian crisis. A conflict between the
      government and the militant groups have caused millions of people to live
      as as refugees without access to vital resources such as adequate shelter,
      clean drinking water, food, and medical care. These people are now
      stricken with illness and malnurishment and have no place to go.
    </p>
  </div>
  <div class="box-2">
    <img src="assets/images/nigeria-family.jpg" alt="Nigerian Family" />
  </div>
</div> -->
