/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(145, 132, 145);
}

.container-1 div,
.container-2 div {
  border: 3px rgb(248, 246, 246) solid;
  padding: 10px;
  width: auto;
  height: auto;
}

.box-1 {
  flex: 4;
  order: 2;
}

.box-2 {
  flex: 1;
  order: 1;
}

.container-2-box {
  flex-basis: 20%;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}
